@font-face {
    src: url(fonts/AlumniSansPinstripe-Regular.ttf);
    font-family: asp;
}


body{
    font-family: asp;
    font-size: 1.5em;
    background-color: #EEF5DB;
    color: black;
    margin: 0px;
    font-weight: 600;
}


#header{

    justify-content: space-between;
    display: flex;
    padding: 24px;
    background-color: #FE5F55;
    color: black;
    border-bottom: black;
}

.navigation-bar{
    display: flex;
}
.page-link a{
    border-bottom: black;
    color: black;
}

.page-link a:hover{
    border-bottom: #7A9E9F;
    color: #7A9E9F;
}

#current-page{
    color: #4F6367;
    border-bottom: #4F6367;
}




#home-page-header{

    font-size: 2.0em;


    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    justify-content: center;
}

#home-page-subheader{

    font-size: 1.5em;


    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    justify-content: center;
}


#home-video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}



#home-body-text{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}

#footer{
    width: 100%;
    background-color: #FE5F55;
}

.footer-container{
    font-size: 0.75em;
    padding-left: 64px;
    display: flex;
    justify-content: left;
    gap: 100px;
}



#widget-container{
    display: flex;
    justify-content: center;
    gap: 128px;
    padding-bottom: 128px;
    padding-top: 64px;

}


.widget-wrapper{
    background-color: #D8D8D8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    flex-direction: column;
}


.widget-inner-text{
    width: 200px;
    height: 200px;
    position: absolute;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}


.widget-image{
    position: relative;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.widget-image-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}



.widget-wrapper .widget-inner-text{
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.widget-wrapper:hover .widget-inner-text{
    font-weight: 600;
    color: white;

}

.widget-darken{
    transition: 1s;
    filter: brightness(10%);
    
}




.contact-link-wrapper{
    margin: 10% auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.socials-wrapper-link{
    padding-top: 20px;
}

.page-content{
    display: block;
}

.page-link{
    margin-right: 20px;
}




.site-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
    padding-bottom: 64px;
}

.site-image{
    position: relative;
    width: 100%;
    height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(50%)


}


#about-me-content{
    margin: auto;
    width: 80%;
}


.site-header-text{
    font-size: 3.0em;
    color: white;
    padding: 32px;
    position: absolute;
}


#skills-list-wrapper{
    display: flex;
    justify-content: space-evenly;
}


.project-showcase-wrapper{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
    gap: 64px;
    padding-bottom: 64px;
}

.showcase-item{
    
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding:1px;
    background-color: #D8D8D8;

}

.showcase-text-wrapper{

    position: relative;
    padding-left: 32px;
    padding-right: 32px;
    
}

.showcase-item-access-wrapper{
    margin: 10% auto;

    display: flex;
    justify-content: left;
    align-items: top;
}


#home-page-intro-wrapper{
    margin: auto;
    width: 80%;
}

#project-intro-wrapper{
    margin: auto;
    width: 80%;
}


.pfp{
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 50%;
}


#overview-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}


#more-about{
    padding-top: 64px;
}

